
.wazap{
    display: flex;
    justify-content: space-between;
}

.wazap h1{
    padding: 10px;
    color: #ddd;
}

.icons_container{
    align-self: center;
}
.icon{
   color: #ddd;
   padding: 0 10px 0 10px; 
}

.input_container{
    position: relative;
    padding: 5px 10px;
}

.input_search{
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 30px;
    padding-left: 40px;
   
}

.input_container button{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background:none;
    padding-left: 10px;
}

button:hover i{
    color:rgb(162, 163, 163);
}