*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chat{
    border: 5px solid black;
    background-image: url(../images/fondowsap.jpg) ;
    overflow: hidden;
}

.lista_mensajes{
   overflow-y: scroll;
   height: 100vh;
   display: flex;
   flex-direction: column;
   
}

@media  screen and (min-width:1000px){
    .chat{
        margin: 0 150px;
        border-radius: 10px;
    }
}

@media  screen and (min-width:2000px){
    .chat{
        margin: 0 600px;
    }
}